<div>
  <div class="input-group">
    <select class="form-control" ng-model="attendanceDate">
      <option value="">Selecciona sesion</option>
      <option value="3-7-2014">3 de abril 2014</option>
      <option value="3-7-2014">8 de marzo 2014</option>
      <option value="3-7-2014">9 de febrero 2014</option>
      <option value="3-7-2014">16 de enero 2014</option>
    </select>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="getAttendance()">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </span>
  </div>

  <div student-list model="attendance" show-attendance="true"></div>
</div>