<div>
  <div class="input-group">
    <select
      class="form-control"
      ng-model="attendanceDate"
      ng-options="d.session_date as d.label for d in sessions">
      <option value="">Selecciona clase</option>
    </select>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="getAttendance()">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </span>
  </div>

  <div student-list model="attendance" course="courseId()" editable="false" show-attendance="true"></div>
</div>
