<ul class="list-group">
  <li class="list-group-item" ng-repeat="student in course.students | filter:name">
    <div class="row">
      <div class="col-md-7">
        <a ng-click="selectStudent(student.id)">{{student.name}}</a>
      </div>
      <div class="col-md-5">
        <div class="pull-right">
          <button class="btn btn-default btn-xs">
            <img src="img/student52.svg" width="20">
          </button>
          <button class="btn btn-default btn-xs">
            <strong>{{student.price | currency}}</strong>
          </button>
          <button class="btn btn-default btn-xs" ng-click="togglePaymentOptions(student.id)">
            <img src="img/dollars33.svg" width="20">
          </button>
          <button class="btn btn-default btn-xs">
            <img src="img/forms.svg" width="20">
          </button>
        </div>
      </div>
    </div>

    <div class="row payment-options" style="display: none;" id="paymentOption{{student.id}}">
      <div class="col-md-12">
        <div payment-options model="student"></div>
      </div>
    </div>
  </li>
</ul>