<div>
  <div class="col-sm-12">
    <div class="btn-group btn-group-justified">
      <div class="btn-group btn-group-sm">
        <button
          ng-class="{'btn': true, 'btn-default': true, 'active': student.paymentType == 2}"
          ng-click="changeToPartialPayment()">Parcial</button>
      </div>
      <div class="btn-group btn-group-sm">
        <button
          ng-class="{'btn': true, 'btn-default': true, 'active': student.paymentType == 3}"
          ng-click="changeToLaterPayment()">Posterior</button>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="input-group">
      <span
        class="input-group-addon"
        ng-show="student.paymentType == 2">$</span>
      <input
          type="date"
          id="paymentSmall{{student.id}}"
          class="form-control"
					ng-disabled="!isFieldEnabled()"
          ng-model="student.payment">
      <span class="input-group-btn">
        <button class="btn btn-default"
            ng-click="registerPayment()"
            ng-disabled="!student.payment">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </span>
    </div>
  </div>
</div>
