<div class="panel panel-default" id="detailCourseViewPanel">
  <div class="panel-heading"
      data-toggle="collapse"
      data-parent="detailCourseViewPanel"
      href="#detailCourseViewInfo">
    <h3 class="panel-title">
      {{course.name}}
      <a href="#curso/editar/{{course.id}}"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
    </h3>
  </div>
  <div class="panel-body panel-collapse collapse" id="detailCourseViewInfo">
    <div>
      <label>Horario</label>
      <span class="pull-right">{{course.schedule}}</span>
    </div>
    <div>
      <label>Clave</label>
      <span class="pull-right">{{course.code}}</span>
    </div>
    <div>
      <label>Inicio</label>
      <span class="pull-right">{{course.beginLabel}}</span>
    </div>
    <div>
      <label>Termino</label>
      <span class="pull-right">{{course.endLabel}}</span>
    </div>
  </div>


  <!-- becados -->
  <div class="panel-heading" ng-show="studentsWithScholarship.length > 0">
    <h3 class="panel-title">
      Becas
    </h3>
  </div>
  <div class="panel-body" ng-show="studentsWithScholarship.length > 0">

    <div scholarships model="studentsWithScholarship"></div>
  </div>

  <!-- pagos pendientes -->
  <div class="panel-heading" ng-show="studentsWithPendingPayments.length > 0">
    <h3 class="panel-title">
      Pagos Pendientes
    </h3>
  </div>
  <div class="panel-body" ng-show="studentsWithPendingPayments.length > 0">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="student in studentsWithPendingPayments">
        <div class="row">
          <div class="col-md-7">
            <a href="#persona/editar/{{student.id}}">{{student.student_name}}</a>
          </div>
          <div class="col-md-5 remove-padding">
              <button class="btn btn-default btn-xs">
                <strong>{{student.amount | currency}}</strong>
              </button>
              <button class="btn btn-default btn-xs" ng-click="toggleLatePaymentOptions(student.id)">
                <img src="img/dollars33.svg" width="20">
              </button>
          </div>
        </div>

        <div class="row" ng-show="student.commitment">
          <div class="col-md-11">
            <strong>{{student.commitmentLabel}}</strong>
          </div>
        </div>

        <div id="latePaymentOption{{student.id}}" style="display: none;">
          <div class="row payment-options">
            <div class="col-ms-12">
              <div payment-options-compact model="student" amount="student.amount" course="course.id"></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- asistencias -->
  <div class="panel-heading">
    <h3 class="panel-title">
      Asistencia
    </h3>
  </div>
  <div class="panel-body">
    <div
      search-attendance
      course-id="course.id"
      sessions="sessions">
    </div>
  </div>


</div>
