<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#buscarCursos" href="#courseInfo{{course.id}}">
    <h3 class="panel-title" >
      {{course.name}} -
      <strong>
        {{course.code}}
      </strong>
      <a href="#curso/editar/{{course.id}}"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
    </h3>
  </div>
  <div class="panel-body panel-collapse collapse" id="courseInfo{{course.id}}">
    <div class="form-group">
      <div class="row">
        <div class="col-md-4"><strong>Inicio</strong></div>
        <div class="col-md-8">{{course.beginLabel}}</div>
      </div>
      <div class="row">
        <div class="col-md-4"><strong>Termino</strong></div>
        <div class="col-md-8">{{course.endLabel}}</div>
      </div>
      <div class="row">
        <div class="col-md-4"><strong>Horario</strong></div>
        <div class="col-md-8">{{course.schedule}}</div>
      </div>
      <div class="row">
        <div class="col-md-4"><strong>Costo</strong></div>
        <div class="col-md-8">{{course.cost | currency}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-block btn-sm btn-default courseStudents-btn" ng-click="toggleViewStudents(course.id)">Estudiantes</a>
      </div>
      <div class="col-md-4">
        <a href="#/curso/{{course.id}}" class="btn btn-block btn-sm btn-default courseDetails-btn">Detalles</a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-block btn-sm btn-default attendance-btn" ng-click="toggleViewAttendance(course.id)">Asistencia</a>
      </div>
    </div>
  </div>
</div>
