<div class="panel panel-default" ng-show="student">
  <div class="panel-heading" data-toggle="collapse" data-parent="#buscarPersonas" href="#{{id}}">
    <h3 class="panel-title">
      {{student.name}}
      <a href="#/persona/editar/{{student.id}}"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
    </h3>
  </div>

  <div
    ng-class="{'panel-body':true, 'panel-collapse': true, 'collapse': true, 'in': canCollapse == 'false'}"
    id="{{id}}">

    <!-- inasistencias -->
    <div ng-show="showAttendance == 'true'">
      <div class="list-group slim" ng-show="student.unattendance">
        <span class="list-group-item disabled text-center"
          data-toggle="collapse"
          data-parent="#{{id}}"
          href="#inasistencias">
          Inasistencias
        </span>
        <div class="panel-collapse collapse in" id="inasistencias">
          <span class="list-group-item" ng-repeat="date in student.unattendance">{{ date.label }}</span>
        </div>
      </div>
    </div>

    <!-- cursos inscritos -->
    <div class="form-group" ng-show="student.enrollments">
      <div class="list-group slim">
        <span class="list-group-item text-center"
          data-toggle="collapse"
          data-parent="#{{id}}"
          href="#cursosInscritos">
          Cursos Inscritos
        </span>

        <div class="panel-collapse collapse in" id="cursosInscritos">
          <ul class="list-group slim">
            <li class="list-group-item" ng-repeat="course in student.enrollments">
              <a href="#/curso/{{course.id}}">{{course.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- cursos reservados -->
    <div class="form-group" ng-show="student.reserves">
      <div class="list-group slim">
        <span class="list-group-item text-center"
          data-toggle="collapse"
          data-parent="#{{id}}"
          href="#cursosReservados">
          Cursos Reservados
        </span>
        <div class="panel-collapse collapse in" id="cursosReservados">
          <ul class="list-group slim">
            <li class="list-group-item" ng-repeat="course in student.reserves">
              <a href="#/curso/{{course.id}}">{{course.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- becas -->
    <div class="form-group" ng-show="student.scholarships">
      <div class="list-group slim">
        <span class="list-group-item text-center"
          data-toggle="collapse"
          data-parent="#{{id}}"
          href="#becas">
          Becas
        </span>
        <div class="panel-collapse collapse in" id="becas">
          <ul class="list-group slim">
            <li class="list-group-item" ng-repeat="scholarship in student.scholarships">
              <a href="#/curso/{{scholarship.course_id}}">{{scholarship.course_name}}</a>
              <span class="pull-right">{{scholarship.percentage}}%</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- pagos pendientes -->
    <div class="form-group" ng-show="student.debts">
      <div class="list-group slim">
        <span class="list-group-item text-center"
          data-toggle="collapse"
          data-parent="#{{id}}"
          href="#pagosPendientes">
          Pagos Pendientes
        </span>

        <div class="panel-collapse collapse in" id="pagosPendientes">
          <ul class="list-group slim">
            <li class="list-group-item" ng-repeat="debt in student.debts">
              <a href="#/curso/{{debt.course_id}}">{{debt.course_name}}</a>
              <button
                class="btn btn-default btn-xs pull-right"
                data-toggle="modal" data-target="#confirmCloseDebt"
                ng-click="confirmDebtClose(debt)">
                <strong>{{debt.amount | currency}}</strong>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div ng-transclude></div>

  </div>
</div>
