<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{selectedCourse.name}}
          <a href="#curso/editar/{{selectedCourse.id}}"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
        </h3>
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label>Horario</label>
            <span class="pull-right">{{selectedCourse.schedule}}</span>
          </div>
          <div class="form-group">
            <label>Inicio</label>
            <span class="pull-right">{{selectedCourse.begin}}</span>
          </div>
          <div class="form-group">
            <label>Termino</label>
            <span class="pull-right">{{selectedCourse.end}}</span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><img src="img/university1.svg"> Estudiantes</h3>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="student in selectedCourse.students">
            <a ng-click="selectStudent(student.id)">{{student.name}}</a>
            <div class="pull-right">
              <button type="button" class="btn btn-default btn-xs">
                <img src="img/student52.svg" width="20">
              </button>
              <button type="button" class="btn btn-default btn-xs">
                <img src="img/incomes1.svg" width="20">
              </button>
              <button type="button" class="btn btn-default btn-xs">
                <img src="img/forms.svg" width="20">
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default" ng-show="selectedStudent">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{selectedStudent.name}}
          <a href="#/persona/editar/{{selectedStudent.id}}"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
        </h3>
      </div>
      <div class="panel-body" id="studenInfo">
        <div>
          <button class="btn btn-default btn-sm" data-toggle="collapse" data-parent="#studenInfo" href="#inasistencias">
          Inasistencias
          </button>
        </div>
        <div class="panel-collapse collapse in" id="inasistencias">
          <ul>
            <li>Clase pasada</li>
            <li>2 de abril</li>
            <li>3 de febrero</li>
          </ul>
        </div>

        <div>
          <button class="btn btn-default btn-sm" data-toggle="collapse" data-parent="#studenInfo" href="#cursosInscritos">
          Cursos Inscritos
          </button>
          <div class="panel-collapse collapse in" id="cursosInscritos">
            <ul>
              <li ng-repeat="course in selectedStudent.enrollments"><a href="#/curso/{{course.id}}">{{course.name}}</a></li>
            </ul>
          </div>
        </div>

        <div>
          <button class="btn btn-default btn-sm" data-toggle="collapse" data-parent="#studenInfo" href="#cursosReservados">
          Cursos Reservados
          </button>
          <div class="panel-collapse collapse in" id="cursosReservados">
            <ul>
              <li ng-repeat="course in selectedStudent.reserves"><a href="#/curso/{{course.id}}">{{course.name}}</a></li>
            </ul>
          </div>
        </div>

        <div>
          <button class="btn btn-default btn-sm" data-toggle="collapse" data-parent="#studenInfo" href="#cursosAnteriores">
          Cursos Anteriores
          </button>
          <div class="panel-collapse collapse in" id="cursosAnteriores">
            <ul>
              <li ng-repeat="course in selectedStudent.previous"><a href="#/curso/{{course.id}}">{{course.name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>