.remove-top-margin {
  margin-top: 0px;
}

.payment-options {
  margin-top: 10px;
}

.remove-padding {
  padding: 0px;
}

.remove-left-padding {
  padding-left: 0px;
}

.main-content{
  padding: 0px 10px;
}

.list-group.slim .list-group-item {
  padding: 5px 15px;
}