.remove-top-margin {
  margin-top: 0px;
}

.payment-options {
  margin-top: 10px;
}

.remove-padding {
  padding: 0px;
}

.remove-left-padding {
  padding-left: 0px;
}

.main-content{
  padding: 0px 10px;
}

.list-group.slim .list-group-item {
  padding: 5px 15px;
}

.indent {
  padding: 0px 10px;
}

.deletable:hover {
  border-color: RED;
  background-color: RED;
  color: #FFF;
  cursor: pointer;
}

.footer {
  background-color: #f8f8f8;
}

.footer p {
  text-align: center;
  color: #AAA;
  font-size: 0.8em;
  margin-bottom: 1px;
}

.thanks-modal {
  background-color: #d9edf7 !important;
  border-color: #bce8f1;
  color: #31708f;
}

.thanks-modal p {
  font-size: 1.2em;
}

.thanks-modal blockquote {
  border-right-color: #CCC;
}

.color-info:hover {
  border-color: #39b3d7;
}

.color-info:active {
  color: #FFF;
  background-color: #39b3d7;
  border-color: #46b8da;
}

.color-info {
  border-color: #46b8da;
}

.color-warning:hover {
  border-color: #ed9c28;
}

.color-warning:active {
  color: #FFF;
  background-color: #ed9c28;
  border-color: #eea236;
}

.color-warning {
  border-color: #eea236;
}

.color-danger:hover {
  border-color: #d2322d;
}

.color-danger:active {
  color: #FFF;
  background-color: #d2322d;
  border-color: #d43f3a;
}

.color-danger {
  border-color: #d43f3a;
}

.color-success:hover {
  border-color: #398439;
}

.color-success:active {
  color: #FFF;
  background-color:  #398439;
  border-color: #4cae4c;
}

.color-success {
  border-color: #4cae4c;
}

.header-button-group button {
  margin-left: 20px;
}

.wire-label-default {
  background-color:  #FFF;
  color: #000;
  border: 1px solid #999;
}

.wire-label-success {
  background-color:  #FFF;
  color: #000;
  border: 1px solid #398439;
}

.wire-label-info {
  background-color: #FFF;
  color: #000;
  border: 1px solid #3984d7;
}

.filter-alert {
  color: #ed9c28 !important;
  font-size: 1.3em;
}
