.remove-top-margin {
  margin-top: 0px;
}

.payment-options {
  margin-top: 10px;
}

.remove-padding {
  padding: 0px;
}

.remove-left-padding {
  padding-left: 0px;
}

.left-sidebar {
  margin-left: 10px;
}

.right-sidebar {
  margin-left: -20px;
}