<div class="row">
<form class="form-horizontal" role="form" name="courseForm" novalidate>
  <div class="col-md-offset-1 col-md-8">
    <div class="panel panel-default">
      <!-- datos del paciente -->
      <div class="panel-heading">
        <h3 class="panel-title">
          <p>
            Datos del paciente
            <a href="#/persona/editar/{{person.id}}"><span class="glyphicon glyphicon-pencil pull-right go-to-edit"></span></a>
          </p>
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 text-right"><strong>Nombre</strong></div>
          <div class="col-md-7 border-left">{{person.name}}</div>
        </div>

        <div class="row">
          <div class="col-md-3 text-right"><strong>Ocupacion</strong></div>
          <div class="col-md-7 border-left">Ama de Casa</div>
        </div>

        <div class="row">
          <div class="col-md-3 text-right"><strong>Edad</strong></div>
          <div class="col-md-3 border-left">{{getAge(person.birthday)}} a&ntilde;os <em class="pull-right">[ {{getDateLabel(person.birthday, true)}} ]</em></div>
        </div>

        <div class="row">
          <div class="col-md-3 text-right"><strong>Estado Civil</strong></div>
          <div class="col-md-7 border-left">Casado</div>
        </div>

        <div class="row">
          <div class="col-md-3 text-right"><strong>Asiste a cursos</strong></div>
          <div class="col-md-3 border-left">Si</div>
        </div>

        <div class="row">
          <div class="col-md-3 text-right"><strong>Telefonos</strong></div>
          <div class="col-md-4 border-left">
            <ul class="list-group slim">
              <li class="list-group-item" ng-repeat="phone in person.phones">
                <span phone model="phone" editable="false"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- consultas -->
      <div class="panel-heading">
        <h3 class="panel-title">Historial</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <ul class="nav nav-tabs" role="tablist">
            <li today-tab-switch consult="todayConsult"></li>
            <li ng-repeat="consult in lastConsults" tab-switch consult="consult"></li>

            <!-- TODO SUBIR A 5 -->
            <li ng-show="lastConsults.length >= 2">
              <a class="tab-switch" href="#settings" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-forward"></span>
              </a>
            </li>
          </ul>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade in active" id="today">
                <div class="row form-group" style="margin-top: 20px;">
                  <label class="label-control col-md-6">Motivo</label>
                  <div  class="col-md-12">
                    <textarea rows="5" ng-model="todayConsult.reason"></textarea>
                  </div>
                </div>

                <div class="row form-group">
                  <label class="label-control col-md-6">Diagnostico</label>
                  <div  class="col-md-12">
                    <textarea rows="5" ng-model="todayConsult.diagnostic"></textarea>
                  </div>
                </div>

                <div class="row form-group">
                  <label class="label-control col-md-6">Tratamiento</label>
                  <div  class="col-md-12">
                    <textarea rows="5" ng-model="todayConsult.treatment"></textarea>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-offset-4 col-md-4">
                    <button class="btn btn-default btn-block color-success" ng-click="create(todayConsult)">Guardar</button>
                  </div>
                </div>

              </div>

              <!-- consultas historicos -->
              <div ng-repeat="consult in lastConsults" id="{{consult.date}}" class="tab-pane fade">
                <div class="row form-group" style="margin-top: 20px;">
                  <label class="label-control col-md-6">Motivo</label>
                  <div  class="col-md-12">
                    <textarea readonly="readonly" rows="5">{{consult.reason}}</textarea>
                  </div>
                </div>

                <div class="row form-group">
                  <label class="label-control col-md-6">Diagnostico</label>
                  <div  class="col-md-12">
                    <textarea readonly="readonly" rows="5">{{consult.diagnostic}}</textarea>
                  </div>
                </div>

                <div class="row form-group">
                  <label class="label-control col-md-6">Tratamiento</label>
                  <div  class="col-md-12">
                    <textarea readonly="readonly" rows="5">{{consult.treatment}}</textarea>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
