<div class="row">
  <div class="col-md-offset-1 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><img src="img/teach.svg"> Cursos para hoy</h3>
        <ul>
          <li><a href="#curso/activo/45">13:00 | Esperanto</a></li>
          <li><a href="#curso/activo/45">18:00 | Homeopatia I</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><img src="img/calendar6.svg"> Proximos cursos</h3>
        <ul class="col-md-offset-1 col-md-9">
          <li><a href="">Herbolaria</a><span class="pull-right">20 de julio</span></li>
          <li><a href="">Curso I</a><span class="pull-right">26 de agosto</span></li>
          <li><a href="">Curso II</a><span class="pull-right">28 de noviembre</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>