<div class="row">
  <form class="form-horizontal" role="form">
    <div class="col-md-offset-1 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Datos del cliente</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div class="row">
              <label for="nombre" class="col-md-2 control-label">Nombre</label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="nombre" placeholder="Nombre completo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>