<div class="row" id="buscarPersonas">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" data-toggle="collapse" data-parent="#buscarPersonas" href="#studenInfo1">
          Susana Alvarado
        </h3>
      </div>
      <div class="panel-body panel-collapse collapse in" id="studenInfo1">
        <div class="row">
          <div class="col-md-12">
            <h5>Cursos Inscritos</h5>
          </div>
          <div class="col-md-12">
            <ul>
              <li>Curso VI</li>
              <li>Homeopatia I</li>
            </ul>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-12">
            <h5>Inscribir / Reservar</h5>
          </div>
          <div class="col-md-12">
            <select class="form-control">
              <option value="1">Herbolaria 1</option>
              <option value="2">Esperanto Avanzado</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-4">
            <button class="btn btn-default">Reservar</button>
          </div>
          <div class="col-md-offset-1 col-md-4">
            <button class="btn btn-default">Inscribir</button>
          </div>
        </div>
      </div>
    </div>
  </div><!-- col -->
</div>