<div class="row" id="buscarPersonas">
  <div class="col-md-3" ng-repeat="student in students | filter:name">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" data-toggle="collapse" data-parent="#buscarPersonas" href="#studenInfo{{student.id}}">
          {{student.name}}
          <a href="#/persona/editar/{{student.id}}"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
        </h3>
      </div>
      <div class="panel-body panel-collapse collapse" id="studenInfo{{student.id}}">
        <div class="form-group" ng-show="student.enrollments">
          <button class="btn btn-block btn-default btn-sm" data-toggle="collapse" data-parent="#studenInfo{{student.id}}" href="#cursosInscritos{{student.id}}">
            Cursos Inscritos
          </button>
          <div class="panel-collapse collapse in" id="cursosInscritos{{student.id}}">
            <ul>
              <li ng-repeat="course in student.enrollments"><a href="#/curso/{{course.id}}">{{course.name}}</a></li>
            </ul>
          </div>
        </div>

        <div class="form-group" ng-show="student.reserves">
          <button class="btn btn-block btn-default btn-sm" data-toggle="collapse" data-parent="#studenInfo{{student.id}}" href="#cursosReservados{{student.id}}">
            Cursos Reservados
          </button>
          <div class="panel-collapse collapse in" id="cursosReservados{{student.id}}">
            <ul>
              <li ng-repeat="course in student.reserves"><a href="#/curso/{{course.id}}">{{course.name}}</a></li>
            </ul>
          </div>
        </div>

        <div class="form-group" ng-show="student.scholarships">
          <button class="btn btn-block btn-default btn-sm" data-toggle="collapse" data-parent="#studenInfo{{student.id}}" href="#becas{{student.id}}">
            Becas
          </button>
          <div class="panel-collapse collapse in" id="becas{{student.id}}">
            <ul>
              <li ng-repeat="scholarship in student.scholarships">
                <a href="#/curso/{{scholarship.id}}">{{scholarship.course.name}}</a>
                <span class="pull-right">{{scholarship.percentage}}%</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="form-group" ng-show="student.debts">
          <button class="btn btn-block btn-default btn-sm" data-toggle="collapse" data-parent="#studenInfo{{student.id}}" href="#adeudos{{student.id}}">
            Adeudos
          </button>
          <div class="panel-collapse collapse in" id="adeudos{{student.id}}">
            <ul>
              <li ng-repeat="debt in student.debts">
                <a href="#/curso/{{course.id}}">{{debt.course.name}}</a>
                <span class="pull-right">{{debt.amount | currency}}</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- inscribir -->
        <div>
          <div class="row form-group">
            <div class="col-md-12">
              <select class="form-control" ng-model="courseId" ng-options="c.id as c.name group by c.status for c in courses">
                <option value="">Selecciona un curso</option>
              </select>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-offset-3">
              <button class="btn btn-default" ng-click="studentId = s.id">Inscribir / Reservar</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>