<div class="row">
<div class="col-md-offset-1 col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <p>
        Datos del usuario
        <span class="header-button-group" ng-hide="isCreatingUser()">
          <button
            id="updateUserBtn"
            class="btn btn-default btn-sm pull-right color-success"
            ng-disabled="userForm.$invalid"
            ng-click="update(user.id)">Actualizar</button>
        </span>
        </p>
      </h3>
    </div>

    <div class="panel-body">
      <form class="form-horizontal" role="form" name="userForm" novalidate>
        <div ng-class="getInputClass(userForm.username, ['row', 'form-group'])">
          <label class="col-md-3 control-label">Usuario</label>
          <div class="col-md-6">
            <input
               type="text"
               class="form-control"
               name="username"
               ng-required="true"
               ng-pattern="/^[a-zA-Z]+$/"
               placeholder="Nombre de Usuario"
               ng-model="user.username">
            <span ng-show="isInputInvalid(userForm.username)" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>

        <div ng-class="getInputClass(userForm.password, ['row', 'form-group'])" ng-show="isCreatingUser()">
          <label class="col-md-3 control-label">Contrase&ntilde;a</label>
          <div class="col-md-6">
            <input
               type="password"
               class="form-control"
               name="password"
               ng-required="isCreatingUser()"
               ng-change="checkPasswords(userForm, user)"
               placeholder="Contrase&ntilde;a"
               ng-model="user.password">
            <span ng-show="isInputInvalid(userForm.password)" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>

        <div ng-class="getInputClass(userForm.password_confirm, ['row', 'form-group'])" ng-show="isCreatingUser()">
          <label class="col-md-3 control-label">Confirmar contrase&ntilde;a</label>
          <div class="col-md-6">
            <input
               type="password"
               class="form-control"
               name="password_confirm"
               ng-required="isCreatingUser()"
               ng-change="checkPasswords(userForm, user)"
               placeholder="Confirmar Contrase&ntilde;a"
               ng-model="user.password_confirm"></input>
            <span ng-show="isInputInvalid(userForm.password_confirm)" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>

        <div ng-class="getInputClass(userForm.name, ['row', 'form-group'])">
          <label class="col-md-3 control-label">Nombre</label>
          <div class="col-md-6">
            <input
               type="text"
               class="form-control"
               name="name"
               ng-required="true"
               placeholder="Nombre completo"
               ng-model="user.name">
            <span ng-show="isInputInvalid(userForm.name)" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>

        <div class="row form-group" ng-show="getLoggedUser().user_type_id == 1">
          <label class="col-md-3 control-label">Tipo de usuario</label>
          <div class="col-md-6">
            <select class="form-control" ng-model="user.user_type_id" ng-options="t.id as t.name for t in userTypes">
            </select>
          </div>
        </div>

        <!-- contraseña para cambiar datos -->
        <div class="row form-group" ng-show="!isCreatingUser()">
          <div class="col-md-offset-3 col-md-6" style="color: #d43f3a;">
            La actualizacion de datos require de tu contrase&ntilde;a actual.
          </div>
        </div>
        <div class="row form-group" ng-show="!isCreatingUser()">
          <label class="col-md-3 control-label">Contrase&ntilde;a</label>
          <div class="col-md-6">
            <input
               type="password"
               class="form-control"
               name="currentPassword"
               ng-required="!isCreatingUser()"
               placeholder="Contrase&ntilde;a Actual"
               ng-model="user.currentPassword">
            <span ng-show="isInputInvalid(userForm.password)" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>


      </form>
    </div>





    <!-- cambiar contraseña -->
    <div class="panel-heading" ng-hide="isCreatingUser()">
      <h3 class="panel-title">
        <p>
        Cambiar contrase&ntilde;a
        </p>
      </h3>
    </div>

    <div class="panel-body" ng-hide="isCreatingUser()">
      <form class="form-horizontal" name="passwdForm" novalidate>
        <div ng-class="getInputClass(passwdForm.current_password, ['row', 'form-group'])" >
          <label class="col-md-3 control-label">Contrase&ntilde;a actual</label>
          <div class="col-md-6">
            <input
               type="password"
               class="form-control"
               name="current_password"
               ng-required="true"
               placeholder="Contrase&ntilde;a"
               ng-model="passwords.current">
            <span ng-show="isInputInvalid(passwdForm.current_password)" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>

        <div ng-class="getInputClass(passwdForm.password, ['row', 'form-group'])">
          <label class="col-md-3 control-label">Nueva contrase&ntilde;a</label>
          <div class="col-md-6">
            <input
               type="password"
               class="form-control"
               name="password"
               ng-required="true"
               ng-change="checkPasswords(passwdForm, passwords)"
               placeholder="Contrase&ntilde;a"
               ng-model="passwords.password">
            <span ng-show="isInputInvalid(passwdForm.password)" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>

        <div ng-class="getInputClass(passwdForm.password_confirm, ['row', 'form-group'])">
          <label class="col-md-3 control-label">Confirmar nueva contrase&ntilde;a</label>
          <div class="col-md-6">
            <input
               type="password"
               class="form-control"
               name="password_confirm"
               ng-required="true"
               ng-change="checkPasswords(passwdForm, passwords)"
               placeholder="Confirmar Contrase&ntilde;a"
               ng-model="passwords.password_confirm"></input>
            <span ng-show="isInputInvalid(passwdForm.password_confirm)" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-offset-3 col-md-6">
            <input
               type="submit"
               class="btn btn-default btn-block color-success"
               value="Cambiar Contrase&ntilde;a"
               ng-disabled="passwdForm.$invalid"
               ng-click="updatePassword()">
            </input>
          </div>
        </div>
      </form>
    </div>

    <!-- panel de botones  -->
    <div class="panel-heading" ng-show="isCreatingUser()">
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <button
             id="createUserBtn"
             class="btn btn-default btn-block color-success"
             ng-disabled="userForm.$invalid"
             ng-click="create(user)">Crear</button>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

