<div class="row">
  <form class="form-horizontal" role="form" name="userForm" novalidate>
    <div class="col-md-offset-1 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <p>
              Datos del usuario
              <span class="header-button-group" ng-hide="isCreatingUser()">
                <button
                  id="updatePersonBtn"
                  class="btn btn-default btn-sm pull-right color-success"
                  ng-disabled="userForm.$invalid"
                  ng-click="update(user.id)">Actualizar</button>
              </span>
            </p>
          </h3>
        </div>

        <div class="panel-body">
          <div ng-class="getInputClass(userForm.username, ['row', 'form-group'])">
            <label for="nombre" class="col-md-3 control-label">Usuario</label>
            <div class="col-md-6">
              <input
                 type="text"
                 class="form-control"
                 id="nombre"
                 name="username"
                 ng-required="true"
                 ng-pattern="/^[a-zA-Z]+$/"
                 placeholder="Nombre de Usuario"
                 ng-model="user.username">
              <span ng-show="isInputInvalid(userForm.username)" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
          </div>

          <div ng-class="getInputClass(userForm.password, ['row', 'form-group'])" ng-show="isCreatingUser()">
            <label for="nombre" class="col-md-3 control-label">Contraseña</label>
            <div class="col-md-6">
              <input
                 type="password"
                 class="form-control"
                 id="nombre"
                 name="password"
                 ng-required="true"
                 placeholder="Contraseña"
                 ng-model="user.password">
              <span ng-show="isInputInvalid(userForm.password)" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
          </div>

          <div ng-class="getInputClass(userForm.password_confirm, ['row', 'form-group'])" ng-show="isCreatingUser()">
            <label for="nombre" class="col-md-3 control-label">Confirmar Contraseña</label>
            <div class="col-md-6">
              <input
                 type="password"
                 class="form-control"
                 id="nombre"
                 name="password_confirm"
                 ng-required="true"
                 placeholder="Confirmar Contraseña"
                 ng-model="user.password_confirm">
              <span ng-show="isInputInvalid(userForm.password_confirm)" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
          </div>

          <div ng-class="getInputClass(userForm.name, ['row', 'form-group'])">
            <label for="nombre" class="col-md-3 control-label">Nombre</label>
            <div class="col-md-6">
              <input
                 type="text"
                 class="form-control"
                 id="nombre"
                 name="name"
                 ng-required="true"
                 placeholder="Nombre completo"
                 ng-model="user.name">
              <span ng-show="isInputInvalid(userForm.name)" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
          </div>

          <div class="row form-group">
            <label for="nombre" class="col-md-3 control-label">Tipo de Usuario</label>
            <div class="col-md-6">
              <select class="form-control" ng-model="user.user_type_id" ng-options="t.id as t.name for t in userTypes">
              </select>
            </div>
          </div>

        </div>

        <!-- panel de botones  -->

        <div class="panel-heading" ng-show="isCreatingUser()">
          <div class="row">
            <div class="col-md-offset-4 col-md-4">
              <button
                id="createPersonBtn"
                class="btn btn-default btn-block"
                ng-disabled="userForm.$invalid"
                ng-click="create(user)">Crear</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>

