<div class="row">
  <form class="form-horizontal" role="form" name="courseForm" novalidate>
    <div class="col-md-offset-1 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <p>
              Datos del curso
              <span class="header-button-group" ng-hide="isCreatingCourse()">
                <button
                  id="updateCourseBtn"
                  class="btn btn-default btn-sm pull-right color-success"
                  ng-disabled="courseForm.$invalid"
                  ng-click="update(course.id, course)">Actualizar</button>

                <button id="goToDetailsBtn" class="btn btn-default btn-sm pull-right" ng-click="goToDetails(course.id)">Ir a Detalles</button>
              </span>
            </p>
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div ng-class="getInputClass(courseForm.name)">
              <label for="nombre" class="col-md-2 control-label">Nombre</label>
              <div class="col-md-8">
                <input
                 type="text"
                 name="name"
                 id="nombre"
                 class="form-control"
                 ng-required="true"
                 ng-model="course.name"
                 placeholder="Nombre completo">
                <span ng-show="isInputInvalid(courseForm.name)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div ng-class="getInputClass(courseForm.code)">
              <label for="clave" class="col-md-2 control-label">Clave</label>
              <div class="col-md-3">
                <input
                  type="text"
                  class="form-control"
                  id="clave"
                  name="code"
                  ng-required="true"
                  ng-model="course.code"
                  placeholder="HOM-JU">
                <span ng-show="isInputInvalid(courseForm.code)" class="glyphicon glyphicon-remove form-control-feedback"></span>
              </div>

              <label for="clave" class="col-md-2 control-label">Costo</label>
              <div class="col-md-3">
                <div ng-class="{'input-group': true, 'has-error': courseForm.course_cost.$invalid}">
                  <span class="input-group-addon">$</span>
                  <input
                    name="course_cost"
                    type="number"
                    class="form-control"
                    ng-model="course.cost"
                    min="0"
                    placeholder="100.00">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label for="dia" class="col-md-2 control-label">Dia</label>
              <div class="col-md-3">
                <select class="form-control" id="dia" ng-model="course.day">
                  <option value="0">Domingo</option>
                  <option value="1">Lunes</option>
                  <option value="2">Martes</option>
                  <option value="3">Miercoles</option>
                  <option value="4">Jueves</option>
                  <option value="5">Viernes</option>
                  <option value="6">Sabado</option>
                </select>
              </div>

              <label for="hora" class="col-md-2 control-label">Hora</label>
              <div class="col-md-3">
                <input type="time" class="form-control" id="hora" ng-model="course.hour">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label for="inicio" class="col-md-2 control-label">Inicio</label>
              <div class="col-md-3">
                <input
                  type="date"
                  class="form-control"
                  ng-model="course.begin"
                  id="inicio">
              </div>

              <label for="termino" class="col-md-2 control-label">Termino</label>
              <div class="col-md-3">
                <input
                  type="date"
                  class="form-control"
                  ng-model="course.end"
                  id="termino">
              </div>
            </div>
          </div>

        </div><!-- body -->

        <!-- inscripcion -->
        <div class="panel-heading students-panel" ng-hide="isCreatingCourse()">
          <h3 class="panel-title">Estudiantes</h3>
        </div>
        <div class="panel-body students-panel" ng-hide="isCreatingCourse()">
          <div class="row">
            <div class="col-md-5" style="border-right: solid 1px #ddd">
              <h4>
                Estudiantes inscritos
                <span id="enrolledStudentsCount" class="label label-default pull-right wire-label-default">{{course.students.length}}</span>
              </h4>

              <!-- condicionado a uno u otro -->
              <div ng-hide="course.students">
                No hay estudiantes inscritos a este curso.
              </div>

              <div student-list
                model="course.students"
                course="course.id"
                editable="true"
                ng-show="course.students"></div>
              <!-- /condicionado a uno u otro -->
            </div>

            <div class="col-md-6">
              <h4>Inscribir estudiante</h4>
              <div class="input-group">
                <span class="input-group-btn">
                  <select
                    type="text"
                    id="students"
                    ng-model="panels.subscribe.studentId"
                    ng-options="s.id as s.name for s in panels.subscribe.studentList"
                    class="form-control">
                    <option value="">Seleccione estudiante</option>
                  </select>
                  <button id="enrollBtn" class="btn btn-default color-success" ng-click="subscribe(course.id, panels.subscribe.studentId)">Inscribir</button>
                </span>
              </div>
            </div>
          </div>

        </div>

        <!-- becas -->
        <div class="panel-heading scholarship-panel" ng-hide="isCreatingCourse()">
          <h3 class="panel-title">Becas</h3>
        </div>
        <div class="panel-body scholarship-panel" ng-hide="isCreatingCourse()">
          <div class="row">
            <div class="col-md-5" style="border-right: solid 1px #ddd">
              <h4>
                Estudiantes con Beca
                <span id="courseScholarshipsCount" class="label label-default pull-right wire-label-default">{{panels.scholarship.students.length}}</span>
              </h4>

              <!-- condicionado a uno u otro -->
              <div ng-hide="panels.scholarship.students.length > 0">
                No hay estudiantes becados en este curso.
              </div>

              <div scholarships model="panels.scholarship.students" editable="true"></div>
              <!-- /condicionado a uno u otro -->
            </div>

            <div class="col-md-7">
              <h4>Nueva Beca</h4>
              <div class="row">
                <div class="col-md-8 input-group-sm">
                  <select
                    type="text"
                    class="form-control"
                    ng-options="s.id as s.name for s in panels.scholarship.studentsWithNoScholarship"
                    ng-model="panels.scholarship.studentId">
                    <option value="">Seleccione estudiante</option>
                  </select>
                </div>
                <div class="col-md-3 remove-left-padding">
                  <div ng-class="{'input-group': true, 'input-group-sm': true, 'has-error': courseForm.scholarship_amount.$invalid, 'has-feedback': courseForm.scholarship_amount.$invalid}">
                    <input
                      type="number"
                      class="form-control"
                      min="0" max="100"
                      ng-model="panels.scholarship.amount"
                      name="scholarship_amount">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
                <div class="col-md-1 remove-left-padding">
                <button id="giveScholarshipBtn" class="btn btn-default btn-sm color-success" ng-click="giveScholarship(course.id)">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- pagos pendientes -->
        <div class="panel-heading pendingPayments-panel" ng-show="panels.payment.students.length > 0 && !isCreatingCourse()">
          <h3 class="panel-title">
            Pagos Pendientes
          </h3>
        </div>
        <div class="panel-body pendingPayments-panel" ng-show="panels.payment.students.length > 0 && !isCreatingCourse()">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="student in panels.payment.students">
              <div class="row">
                <div class="col-md-4">
                  <a href="#persona/editar/{{student.id}}">{{student.person_name}}</a>
                </div>
                <div class="col-md-2 remove-padding">
                    <button
                      data-toggle="modal" data-target="#confirmCloseDebt"
                      ng-click="confirmDebtClose(student)"
                      class="btn btn-default btn-sm">
                      <strong>{{student.amount | currency}}</strong>
                    </button>
                    <button class="btn btn-default btn-sm" ng-click="toggleLatePaymentOptions(student.id)">
                      <img src="img/dollars33.svg" width="20">
                    </button>
                </div>

                <div class="col-md-6">
                  <div id="latePaymentOption{{student.id}}" style="display: none;">
                    <div payment-options
                      course="course.id"
                      student="student.person_id"
                      amount="student.amount"></div>
                  </div>
                </div>
              </div>

              <div class="row" ng-show="student.commitment">
                <div class="col-md-4">
                  <strong>{{student.commitmentLabel}}</strong>
                </div>
              </div>

            </li>
          </ul>
        </div>

        <!-- asistencia -->
        <div class="panel-heading attendance-panel" ng-show="panels.attendance.sessions && !isCreatingCourse()">
          <h3 class="panel-title">Asistencia</h3>
        </div>
        <div class="panel-body attendance-panel" ng-show="panels.attendance.sessions && !isCreatingCourse()">
          <div
            search-attendance course-id="course.id"
            sessions="panels.attendance.sessions">
          </div>
        </div>


        <!-- panel de botones  -->
        <div class="panel-heading" ng-show="isCreatingCourse()">
          <div class="row">
            <div class="col-md-offset-4 col-md-4">
              <button
                id="createPersonBtn"
                class="btn btn-default btn-block"
                ng-disabled="courseForm.$invalid"
                ng-click="create(course)">Crear</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>
