<div class="row">
  <form class="form-horizontal" role="form">
    <div class="col-md-offset-1 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Datos del curso</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="form-group">
              <label for="nombre" class="col-md-2 control-label">Nombre</label>
              <div class="col-md-8">
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  ng-model="course.name"
                  placeholder="Nombre completo">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label for="clave" class="col-md-2 control-label">Clave</label>
              <div class="col-md-3">
                <input
                  type="text"
                  class="form-control"
                  id="clave"
                  ng-model="course.code"
                  placeholder="HOM-JU">
              </div>

              <label for="clave" class="col-md-2 control-label">Costo</label>
              <div class="col-md-3">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input
                    type="number"
                    class="form-control"
                    ng-model="course.cost"
                    placeholder="100.00">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label for="inicio" class="col-md-2 control-label">Inicio</label>
              <div class="col-md-3">
                <input
                  type="date"
                  class="form-control"
                  ng-model="course.begin"
                  id="inicio">
              </div>

              <label for="termino" class="col-md-2 control-label">Termino</label>
              <div class="col-md-3">
                <input
                  type="date"
                  class="form-control"
                  ng-model="course.end"
                  id="termino">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label for="dia" class="col-md-2 control-label">Dia</label>
              <div class="col-md-3">
                <select class="form-control" id="dia" ng-model="course.day">
                  <option value="1">Lunes</option>
                  <option value="2">Martes</option>
                  <option value="3">Miercoles</option>
                  <option value="4">Jueves</option>
                  <option value="5">Viernes</option>
                  <option value="6">Sabado</option>
                  <option value="7">Domingo</option>
                </select>
              </div>

              <label for="hora" class="col-md-2 control-label">Hora</label>
              <div class="col-md-3">
                <input type="time" class="form-control" id="hora" ng-model="course.hour">
              </div>
            </div>
          </div>
        </div><!-- body -->

        <!-- inscripcion -->
        <div class="panel-heading">
          <h3 class="panel-title">Estudiantes</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-5" style="border-right: solid 1px #ddd">
              <h4>
                Estudiantes inscritos
                <span class="label label-default pull-right">{{course.students.length}}</span>
              </h4>
              <div student-list model="course.students"></div>
            </div>

            <div class="col-md-6">
              <h4>Inscribir estudiante</h4>
              <div class="input-group">
                <span class="input-group-btn">
                  <select type="text" id="students" class="form-control">
                    <option>Noel Soria</option>
                    <option>Carlos Soria</option>
                    <option>Susana Alvarado</option>
                    <option>Paloma Alvarado</option>
                    <option>Alfredo Alvarado</option>
                  </select>
                  <button class="btn btn-default">Inscribir</button>
                </span>
              </div>
            </div>
          </div>

        </div>

        <!-- becas -->
        <div class="panel-heading">
          <h3 class="panel-title">Becas</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-5" style="border-right: solid 1px #ddd">
              <h4>
                Estudiantes con Beca
                <span class="label label-default pull-right">{{studentsWithScholarship.length}}</span>
              </h4>
              <div scholarships model="studentsWithScholarship"></div>
            </div>

            <div class="col-md-7">
              <h4>Nueva Beca</h4>
              <div class="row">
                <div class="col-md-8 input-group-sm">
                  <select type="text" class="form-control">
                    <option>Noel Soria</option>
                    <option>Carlos Soria</option>
                    <option>Susana Alvarado</option>
                    <option>Paloma Alvarado</option>
                    <option>Alfredo Alvarado</option>
                  </select>
                </div>
                <div class="col-md-3 remove-left-padding">
                  <div class="input-group input-group-sm">
                    <input type="number" class="form-control" placeholder="100">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
                <div class="col-md-1 remove-left-padding">
                <button class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- pagos pendientes -->
        <div class="panel-heading">
          <h3 class="panel-title">
            Pagos Pendientes
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="student in studentsWithPendingPayments">
              <div class="row">
                <div class="col-md-4">
                  <a href="#persona/editar/{{student.id}}">{{student.name}}</a>
                </div>
                <div class="col-md-2 remove-padding">
                    <button class="btn btn-default btn-sm">
                      <strong>{{student.debt | currency}}</strong>
                    </button>
                    <button class="btn btn-default btn-sm" ng-click="toggleLatePaymentOptions(student.id)">
                      <img src="img/dollars33.svg" width="20">
                    </button>
                </div>

                <div class="col-md-6">
                  <div id="latePaymentOption{{student.id}}" style="display: none;">
                    <div payment-options model="student"></div>
                  </div>
                </div>
              </div>

              <div class="row" ng-show="student.debtPayDate">
                <div class="col-md-4">
                  <strong>{{student.debtPayDate}}</strong>
                </div>
              </div>

            </li>
          </ul>
        </div>

        <!-- asistencia -->
        <div class="panel-heading">
          <h3 class="panel-title">Asistencia</h3>
        </div>
        <div class="panel-body">
          <div
            search-attendance course-id="course.id"
            sessions="sessions">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>