<div class="row">
  <form class="form-horizontal" role="form" name="studentForm" novalidate>
    <div class="col-md-offset-1 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <p>
              Datos de la persona
              <span class="header-button-group" ng-hide="isCreatingPerson()">
                <button
                  id="updatePersonBtn"
                  class="btn btn-default btn-sm pull-right color-success"
                  ng-disabled="studentForm.$invalid"
                  ng-click="update(student.id)">Actualizar</button>
              </span>
            </p>
          </h3>
        </div>
        <div class="panel-body">
          <div ng-class="getInputClass(studentForm.name)">
            <label for="nombre" class="col-md-3 control-label">Nombre</label>
            <div class="col-md-6">
              <input
                 type="text"
                 class="form-control"
                 id="nombre"
                 name="name"
                 ng-required="true"
                 placeholder="Nombre completo"
                 ng-model="student.name">
              <span ng-show="isInputInvalid(studentForm.name)" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
          </div>

          <div class="row form-group">
            <label for="fechaNacimiento" class="col-md-3 control-label">Fecha de Nacimiento</label>
            <div class="col-md-6">
              <input
                 type="date"
                 class="form-control"
                 id="fechaNacimiento"
                 ng-model="student.birthday">
            </div>
          </div>

          <div class="row form-group">
            <label for="direccion" class="col-md-3 control-label">Direccion</label>
            <div class="col-md-6">
              <input
                 type="text"
                 class="form-control"
                 id="direccion"
                 placeholder="Direccion"
                 ng-model="student.address">
            </div>
          </div>

          <div ng-class="{'row': true, 'form-group': true, 'has-error': studentForm.student_email.$invalid, 'has-feedback': studentForm.student_email.$invalid}">
            <label for="student_email" class="col-md-3 control-label">Correo Electronico</label>
            <div class="col-md-6">
              <input
                 type="email"
                 class="form-control"
                 name="student_email"
                 placeholder="Correo electronico"
                 ng-model="student.email">
              <span
                 class="glyphicon glyphicon-remove form-control-feedback"
                 ng-show="studentForm.student_email.$invalid">
              </span>
            </div>
          </div>

          <!-- telefonos -->
          <div class="row" ng-show="student.phones.length > 0">
            <label for="student_phone" class="col-md-3 control-label">Telefonos</label>
            <div class="col-md-4">
              <ul class="list-group slim">
                <li class="list-group-item" ng-repeat="phone in student.phones">
                  <span phone model="phone"></span>
                </li>
              </ul>
            </div>
          </div>

          <!-- toggle agregar telefono -->
          <div class="row" ng-show="!addingPhone()">
            <div class="col-md-offset-3 col-md-4">
              <button class="btn btn-sm btn-default btn-block" ng-click="panels.phone.isAddingPhone = true">Agregar Telefono</button>
            </div>
          </div>

          <div class="row form-group" ng-show="addingPhone()">
            <div ng-class="{'col-md-offset-3': true, 'col-md-4': true, 'has-error': studentForm.student_phone.$invalid, 'has-feedback': studentForm.student_phone.$invalid}">
              <input
                 type="text"
                 class="form-control"
                 name="student_phone"
                 ng-pattern="/^[^a-z^A-Z]+$/"
                 ng-model="panels.phone.number">
              <span
                 class="glyphicon glyphicon-remove form-control-feedback"
                 ng-show="studentForm.student_phone.$invalid">
              </span>
            </div>
            <div class="col-md-2">
              <select
                 class="form-control"
                 ng-model="panels.phone.phone_type_id"
                 ng-options="type.id as type.name for type in panels.phone.phoneTypes">
              </select>
            </div>
            <div class="col-md-1">
              <button
                 class="btn btn-sm btn-default"
                 ng-click="addAnotherPhone()"
                 ng-disabled="studentForm.student_phone.$invalid || student.phones[0].number === ''"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
          </div>


        </div>


        <!-- datos extendidos -->
        <div class="panel-heading">
          <h3 class="panel-title">Datos Extendidos</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-offset-1 col-md-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="student.lead_pray_group">
                  Dirige un grupo de oracion?
                </label>
              </div>
            </div>
          </div>
        </div>









        <!-- becas -->
        <div class="panel-heading">
          <h3 class="panel-title">Becas</h3>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-md-offset-1 col-md-3">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="student.has_scholarship">
                  Tiene beca escolar?
                </label>
              </div>
            </div>
            <div
                                         ng-show="student.has_scholarship"
                                         ng-class="{'has-error': studentForm.student_scholarshipPercentage.$invalid, 'has-feedback': studentForm.student_scholarshipPercentage.$invalid}">
              <label for="porcentajeBeca" class="col-md-3 control-label">Porcentaje de Beca</label>
              <div class="col-md-2 input-group">
                <input
                   type="number"
                   class="form-control"
                   placeholder="25"
                   name="student_scholarshipPercentage"
                   min="0" max="100"
                           ng-model="student.scholarship_percentage">

                <span class="input-group-addon">%</span>
              </div>
            </div>
          </div>

          <hr ng-hide="isCreatingPerson()">

          <div class="row" ng-hide="isCreatingPerson()">
            <div class="col-md-offset-1 col-md-6">
              <h4>Cursos con Beca</h4>
            </div>
          </div>

          <div class="row" ng-hide="isCreatingPerson()">
            <div class="col-md-offset-1 col-md-8" ng-hide="student.scholarships">
              No tiene beca en ningun curso.
            </div>

            <div class="col-md-offset-1 col-md-8">
              <div class="form-group" ng-show="student.scholarships">
                <div class="list-group slim">
                  <div class="panel-collapse collapse in" id="becas">
                    <ul class="list-group slim">
                      <li class="list-group-item" ng-repeat="scholarship in student.scholarships">
                        <a href="#/curso/{{scholarship.course_id}}">{{scholarship.course_name}}</a>
                        <span class="pull-right">{{scholarship.percentage}}%</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>







        <div class="panel-heading" ng-show="hasAcademicHistory()">
          <h3 class="panel-title">Historial Academico</h3>
        </div>

        <div class="panel-body" ng-show="hasAcademicHistory()">
          <div class="row" ng-show="student.enrollments">
            <div class="col-md-4" ng-show="student.enrollments">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Cursos Inscritos</h3>
                </div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="course in student.enrollments">
                      <a href="#/curso/{{course.id}}">{{course.name}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-4" ng-show="student.reserves">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Cursos Reservados</h3>
                </div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="course in student.reserves">
                      <a href="#/curso/{{course.id}}">{{course.name}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-4" ng-show="student.previous">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Cursos Anteriores</h3>
                </div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="course in student.previous">
                      <a href="#/curso/{{course.id}}">{{course.name}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div><!-- row -->
        </div>

        <!-- pagos pendientes -->
        <div class="panel-heading" ng-show="student.debts">
          <h3 class="panel-title">Pagos pendientes</h3>
        </div>
        <div class="panel-body" ng-show="student.debts">
          <div class="col-md-12">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="debt in student.debts">
                <div class="row">
                  <div class="col-md-4">
                    {{debt.course_name}}
                  </div>
                  <div class="col-md-2 remove-padding">
                    <button class="btn btn-default btn-sm">
                      <strong>{{debt.amount | currency}}</strong>
                    </button>
                    <button class="btn btn-default btn-sm" ng-click="toggleLatePaymentOptions(debt.id)">
                      <img src="img/dollars33.svg" width="20">
                    </button>
                  </div>

                  <div class="col-md-6">
                    <div class="row" style="display: none;" id="latePaymentOption{{debt.id}}">
                      <div class="col-md-12">
                        <div payment-options
                           course="debt.course_id"
                           student="student.id"
                           amount="debt.amount"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" ng-show="debt.commitment">
                  <div class="col-md-11">
                    <strong>{{debt.commitmentLabel}}</strong>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>


        <!-- panel de botones  -->
        <div class="panel-heading" ng-show="isCreatingPerson()">
          <div class="row">
            <div class="col-md-offset-4 col-md-4">
              <button
                id="createPersonBtn"
                class="btn btn-default btn-block"
                ng-disabled="studentForm.$invalid"
                ng-click="create(student)">Crear</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
